body {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-image: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-container {
    width: 40%; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-right: 20px; 
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

.table-container {
    width: 55%; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #c2b8b8;
    color:black;
    font-weight: bold;
}

table td {
    background-color: #f9f9f9;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    padding: 8px 16px;
    margin: 0 4px;
    text-decoration: none;
    color: #333;
    border: none;
    border-radius: 4px;
}

.pagination a.active {
    background-color: #0056b3;
    color: white;
}

.pagination a:hover {
    background-color: green;
}


a {
    text-decoration: none;
    color: #803dbb;
    margin: 0 5px;
}

a:hover {
    color: #0056b3;
}

h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

